/**
 * @name Video Background
 * @version 1.0 Alpha
 * @description A required CSS for video background
 * @author Hector
 *
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 */

 :root {
  --setings-section-h2-colorlight: black;
  --setings-section-h2-colordark: rgba(245, 245, 245, 0.861); /*change last value from 0.0 - 1.0 to adjust opacity*/
  --setings-section-button-bgcolordark: #5462ea;
  --setings-section-button-hover-bgcolordark: #3E62E3;
  --setings-section-button-colordark: rgb(61, 58, 58);
  --setings-section-button-hover-colordark: rgb(20, 19, 19);
  --inputs-text-color: #fff;
  --color-bg-dark: rgb(28, 28, 30);
  --shadow-black-50: rgba(0, 0, 0, 0.5); /*change last value from 0.0 - 1.0 to adjust opacity*/
  --color-transparent: transparent;
  --shadow-hover: rgba(135, 207, 235, 0.186); /*change last value from 0.0 - 1.0 to adjust opacity*/
  --shadow-focus: skyblue;
  --background-tertiary-color: rgba(25, 25, 25, 0); /*change last value from 0.0 - 1.0 to adjust opacity*/
  --background-primary-color: transparent;
  --background-secondary-color: transparent;
  --background-secondary-alt-color: transparent;
  --channeltextarea-background-color: transparent;
}

div#videoBackgroundSettings {
  display: flex;
  flex-direction: column;
  gap: 1.5vmin;
}

div#videoBackgroundSettings div {
  display: block;
}

div#videoBackgroundSettings div.settings-section {
  display: flex;
  flex-direction: column;
  gap: .5vmin;
}

div#videoBackgroundSettings div.settings-section h2 {
  color: var(--setings-section-h2-colordark);
}

div#videoBackgroundSettings div.settings-section div.input-section {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
}

div#videoBackgroundSettings div.settings-section div.input-section button {
  height: 3vmin;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--setings-section-button-bgcolordark);
  border: 0;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  user-select: none;
  font-weight: 600;
  transition: .4s;
}

div#videoBackgroundSettings div.settings-section div.input-section button:hover {
  background-color: var(--setings-section-button-hover-bgcolordark);
  color: var(--setings-section-button-hover-colordark);
}

div#videoBackgroundSettings div.settings-section div.input-section input {
  height: 2.5vmin;
}

div#videoBackgroundSettings div.settings-section div.input-section select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 4vmin;
  font-size: .65vw;
  position: relative;
  border: none;
  outline: none;
  color: var(--inputs-text-color);
  background-color: var(--color-bg-dark);
  box-shadow: 0 0 .4vw var(--shadow-black-50), 0 0 0 .15vw var(--color-transparent);
  border-radius: 0.4vw;
  align-items: center;
  display: inline-flex;
  box-sizing: border-box;
  padding: 0.4vw;
  transition: .4s;
}

div#videoBackgroundSettings div.settings-section div.input-section select:hover {
  box-shadow: 0 0 0 .15vw var(--shadow-hover);
}

div#videoBackgroundSettings div.settings-section div.input-section select:focus {
  box-shadow: 0 0 0 .15vw var(--shadow-focus);
}

div#videoBackgroundSettings div.settings-section div.input-section input[type="text"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: .8vw;
  color: var(--inputs-text-color);
  background-color: var(--color-bg-dark);
  box-shadow: 0 0 .4vw var(--shadow-black-50), 0 0 0 .15vw var(--color-transparent);
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  transition: .4s;
}

div#videoBackgroundSettings div.settings-section div.input-section input[type="text"]:hover {
  box-shadow: 0 0 0 .15vw var(--shadow-hover);
}

div#videoBackgroundSettings div.settings-section div.input-section input[type="text"]:focus {
  box-shadow: 0 0 0 .15vw var(--shadow-focus);
}

body,
#app-mount,
.appMount__51fd7 {
  background: none !important;
}

.theme-dark {
  --background-tertiary: var(--background-tertiary-color) !important;
  --background-primary: var(--background-primary-color) !important;
  --background-secondary: var(--background-secondary-color) !important;
  --background-secondary-alt: var(--background-secondary-alt-color) !important;
  --channeltextarea-background: var(--channeltextarea-background-color) !important;
}

.wrapper-3NnKdC,
.scroller-1Bvpku,
.app-2rEoOp,
.theme-dark .container-1D34oG {
  background: var(--color-transparent) !important;
}

.fullscreen-bg video,
.fullscreen-bg-video {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  z-index: -100 !important;
  min-width: 100% !important;
  min-height: 100% !important;
  width: 0;
  height: auto;
  transform: translate(-50%, -50%) !important;
}

.name__2ea32 {
  transition: .2s ease-in-out;
}
